*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
#Background{
    z-index: -1;
    position: fixed;
    object-fit: cover;
    right: 0;
    bottom: 0;
}
body{
    background: #1d2026;
    color: #fff;
    position: relative;
}
ul{
   flex: 1;
   text-align: left; 
}
ul li{
    display: inline-block;
    list-style: none;
    margin: 0 20px;
    font-size: 19px;
}
ul li a{
    text-decoration: none;
    color: #fff;
    position: relative;
    top: -60px;
    left: 90px;
}
ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -7px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    transition: width 0.3s;
}
ul li a:hover::after{
    width: 60%;
}
.logos{
    position: absolute;
    right: 2%;
    top: 760px;
}
.logos img{
    width: 29px;
    display: block;
    margin: 25px 5px;
}
.text h1{
    margin-top: -1%;
    text-align: center;
    font-size: 43px;
}
.text p{
    font-size: 25px;
    margin-top: 3%;
    margin-left: 20%;
}
.image img{
    position: relative;
    margin-top: -32%;
    margin-left: 2%;
    width: 1166px;
    height: 700px;
}